/* Tijdelijk groen kleur */
.paragraph-style {
  padding: 14px 28px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: blue;
  color: rgb(236, 232, 24);
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* De toggled kleur */
.green {
  background-color: green;
}

h1{
    color: rgb(245, 156, 4);
}
p {
    background-color: rgb(4, 205, 245);
    font-size: 1.2rem;
    text-decoration: italic;
}

/*Afbeelding draaien*/

.rotate180 {
    transform: rotate(180deg);
}
.titel-groen{
    color: green;
}
.rotate0 {
    transform: rotate(0deg);
}

